/blib/
/.build/
_build/
cover_db/
inc/
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
pod2htm*.tmp
*.tar.gz
Mojolicious-Plugin-SizeLimit-*
*~
.*
!.gitignore
!.travis.yml
